body {
  background: #fff;
  font-family: "Roboto";
  color: #505F98;
}

a {
  text-decoration: none;
  color: #505f98;
}

button {
  border: 0;
  font-weight: 500;
  size: 12px;
  background: #111B47;
  border-radius: 2px;
  color: #fff;
  height: 1.625rem;
  width: 6.5rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

li {
  display: block;
} 


.title {
  font-weight: 500;
  font-size: 2.25rem;
  color: #091133;;
  margin-bottom: 16px;
  line-height: 3rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #6f7cb2;
  margin-top: 6px;
}

.img-container {
  max-width: 100%;
}