body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.container {
  margin: 0 auto;
  min-height: 700px;
}

.header{
    min-height: 2rem; 
    background-color: #F8F8F8;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_name{
    font-size: large;
    font-weight: 700;
}

.search input{
    border-radius: 6px;
    padding: 10px;
    width: 15rem;
}

.search button{
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #5CA5E4;
    color: #5CA5E4;
    width: 5rem;
    height: 2.5rem;
    margin: 0 1rem;
}

.search button.clear{
    color: #E8A19F;
    border-color: #E8A19F;
}

.content{
    display: flex;
    flex-direction: row;
}

.aside{
    min-width: 15rem;
    padding: 1rem;
}

.content h2{
    font-weight: 400;
}

.content .sort, .count{
    max-width: 15rem;
}

.content .count > *{
    margin-bottom: 1rem;
}

.default_button{
    background-color: #0275D8;
    color: #fff;
    min-width: 5rem;
    height: 2.5rem;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid transparent;
}

.vertical-divider {
  margin: 1rem;
  border-left: 2px solid #BABABA;
  min-height: 500px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li{
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #BBBB;
}

.item-card {
  max-width: 420px;
}

.item-container__image {
  min-height: 200px;
  max-width: 420px;
  cursor: pointer;
}

.form-field{
    margin: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
}

.form-field input {
    margin-left: 1rem;
    border-radius: 6px;
    padding: 5px;
    width: 10rem;
}