.defaultButton {
    background-color: #424242;
    color: #fff;

    min-width: 5rem;
    height: 2.5rem;

    font-weight: bold;

    border-radius: 6px;
    border: 1px solid transparent;

    margin: 0.5rem;
}
